{
  "openapi": "3.1.0",
  "info": {
    "title": "IGVF Project API",
    "version": "79.0.0"
  },
  "servers": [
    {
      "url": "https://api.data.igvf.org"
    }
  ],
  "paths": {
    "/{resource_id}": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Get item information",
        "description": "Retrieve detailed information about a specific item using its @id or uuid.",
        "operationId": "get_by_id",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the resource i.e. @id (`/sequence-files/IGVFFI1165AJSO/`), accession (`IGVFFI1165AJSO`) or UUID (`fffcd64e-af02-4675-8953-7352459ee06a`).",
            "examples": {
              "@id": {
                "value": "/sequence-files/IGVFFI1165AJSO/"
              },
              "uuid": {
                "value": "fffcd64e-af02-4675-8953-7352459ee06a"
              },
              "accession": {
                "value": "IGVFFI1165AJSO"
              }
            }
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Item",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AccessKey"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisStep"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisStepVersion"
                    },
                    {
                      "$ref": "#/components/schemas/Award"
                    },
                    {
                      "$ref": "#/components/schemas/Biomarker"
                    },
                    {
                      "$ref": "#/components/schemas/Document"
                    },
                    {
                      "$ref": "#/components/schemas/HumanDonor"
                    },
                    {
                      "$ref": "#/components/schemas/RodentDonor"
                    },
                    {
                      "$ref": "#/components/schemas/AlignmentFile"
                    },
                    {
                      "$ref": "#/components/schemas/ConfigurationFile"
                    },
                    {
                      "$ref": "#/components/schemas/GenomeBrowserAnnotationFile"
                    },
                    {
                      "$ref": "#/components/schemas/ImageFile"
                    },
                    {
                      "$ref": "#/components/schemas/IndexFile"
                    },
                    {
                      "$ref": "#/components/schemas/MatrixFile"
                    },
                    {
                      "$ref": "#/components/schemas/ModelFile"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFile"
                    },
                    {
                      "$ref": "#/components/schemas/SequenceFile"
                    },
                    {
                      "$ref": "#/components/schemas/SignalFile"
                    },
                    {
                      "$ref": "#/components/schemas/TabularFile"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisSet"
                    },
                    {
                      "$ref": "#/components/schemas/AuxiliarySet"
                    },
                    {
                      "$ref": "#/components/schemas/ConstructLibrarySet"
                    },
                    {
                      "$ref": "#/components/schemas/CuratedSet"
                    },
                    {
                      "$ref": "#/components/schemas/MeasurementSet"
                    },
                    {
                      "$ref": "#/components/schemas/ModelSet"
                    },
                    {
                      "$ref": "#/components/schemas/PredictionSet"
                    },
                    {
                      "$ref": "#/components/schemas/Gene"
                    },
                    {
                      "$ref": "#/components/schemas/Image"
                    },
                    {
                      "$ref": "#/components/schemas/InstitutionalCertificate"
                    },
                    {
                      "$ref": "#/components/schemas/Lab"
                    },
                    {
                      "$ref": "#/components/schemas/CrisprModification"
                    },
                    {
                      "$ref": "#/components/schemas/DegronModification"
                    },
                    {
                      "$ref": "#/components/schemas/AssayTerm"
                    },
                    {
                      "$ref": "#/components/schemas/PhenotypeTerm"
                    },
                    {
                      "$ref": "#/components/schemas/PlatformTerm"
                    },
                    {
                      "$ref": "#/components/schemas/SampleTerm"
                    },
                    {
                      "$ref": "#/components/schemas/OpenReadingFrame"
                    },
                    {
                      "$ref": "#/components/schemas/Page"
                    },
                    {
                      "$ref": "#/components/schemas/PhenotypicFeature"
                    },
                    {
                      "$ref": "#/components/schemas/Publication"
                    },
                    {
                      "$ref": "#/components/schemas/MpraQualityMetric"
                    },
                    {
                      "$ref": "#/components/schemas/PerturbSeqQualityMetric"
                    },
                    {
                      "$ref": "#/components/schemas/SingleCellAtacSeqQualityMetric"
                    },
                    {
                      "$ref": "#/components/schemas/SingleCellRnaSeqQualityMetric"
                    },
                    {
                      "$ref": "#/components/schemas/StarrSeqQualityMetric"
                    },
                    {
                      "$ref": "#/components/schemas/InVitroSystem"
                    },
                    {
                      "$ref": "#/components/schemas/MultiplexedSample"
                    },
                    {
                      "$ref": "#/components/schemas/PrimaryCell"
                    },
                    {
                      "$ref": "#/components/schemas/TechnicalSample"
                    },
                    {
                      "$ref": "#/components/schemas/Tissue"
                    },
                    {
                      "$ref": "#/components/schemas/WholeOrganism"
                    },
                    {
                      "$ref": "#/components/schemas/Software"
                    },
                    {
                      "$ref": "#/components/schemas/SoftwareVersion"
                    },
                    {
                      "$ref": "#/components/schemas/Source"
                    },
                    {
                      "$ref": "#/components/schemas/Treatment"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "$ref": "#/components/schemas/Workflow"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "@type",
                    "mapping": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Search for items on the IGVF Data Portal.",
        "description": "Search endpoint that accepts various query parameters to filter and sort results. Supports complex filtering on item types and fields within items.",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by item type."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "example": 100
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Does not work with limit=all."
          },
          {
            "name": "field_filters",
            "in": "query",
            "schema": {
              "type": "object"
            },
            "description": "Any field from any item type can be used as a filter. Use '!' at end of field name for negation and 'lt:', 'lte:', 'gt:', 'gte:' with value for range queries on numeric fields. Examples: {'status!': 'in progress', 'file_size': 'gte:30000'}",
            "style": "form",
            "explode": true
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "SearchResults",
                  "properties": {
                    "@graph": {
                      "type": "array",
                      "items": {
                        "title": "SearchResultItem",
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/AccessKey"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisStep"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisStepVersion"
                          },
                          {
                            "$ref": "#/components/schemas/Award"
                          },
                          {
                            "$ref": "#/components/schemas/Biomarker"
                          },
                          {
                            "$ref": "#/components/schemas/Document"
                          },
                          {
                            "$ref": "#/components/schemas/HumanDonor"
                          },
                          {
                            "$ref": "#/components/schemas/RodentDonor"
                          },
                          {
                            "$ref": "#/components/schemas/AlignmentFile"
                          },
                          {
                            "$ref": "#/components/schemas/ConfigurationFile"
                          },
                          {
                            "$ref": "#/components/schemas/GenomeBrowserAnnotationFile"
                          },
                          {
                            "$ref": "#/components/schemas/ImageFile"
                          },
                          {
                            "$ref": "#/components/schemas/IndexFile"
                          },
                          {
                            "$ref": "#/components/schemas/MatrixFile"
                          },
                          {
                            "$ref": "#/components/schemas/ModelFile"
                          },
                          {
                            "$ref": "#/components/schemas/ReferenceFile"
                          },
                          {
                            "$ref": "#/components/schemas/SequenceFile"
                          },
                          {
                            "$ref": "#/components/schemas/SignalFile"
                          },
                          {
                            "$ref": "#/components/schemas/TabularFile"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisSet"
                          },
                          {
                            "$ref": "#/components/schemas/AuxiliarySet"
                          },
                          {
                            "$ref": "#/components/schemas/ConstructLibrarySet"
                          },
                          {
                            "$ref": "#/components/schemas/CuratedSet"
                          },
                          {
                            "$ref": "#/components/schemas/MeasurementSet"
                          },
                          {
                            "$ref": "#/components/schemas/ModelSet"
                          },
                          {
                            "$ref": "#/components/schemas/PredictionSet"
                          },
                          {
                            "$ref": "#/components/schemas/Gene"
                          },
                          {
                            "$ref": "#/components/schemas/Image"
                          },
                          {
                            "$ref": "#/components/schemas/InstitutionalCertificate"
                          },
                          {
                            "$ref": "#/components/schemas/Lab"
                          },
                          {
                            "$ref": "#/components/schemas/CrisprModification"
                          },
                          {
                            "$ref": "#/components/schemas/DegronModification"
                          },
                          {
                            "$ref": "#/components/schemas/AssayTerm"
                          },
                          {
                            "$ref": "#/components/schemas/PhenotypeTerm"
                          },
                          {
                            "$ref": "#/components/schemas/PlatformTerm"
                          },
                          {
                            "$ref": "#/components/schemas/SampleTerm"
                          },
                          {
                            "$ref": "#/components/schemas/OpenReadingFrame"
                          },
                          {
                            "$ref": "#/components/schemas/Page"
                          },
                          {
                            "$ref": "#/components/schemas/PhenotypicFeature"
                          },
                          {
                            "$ref": "#/components/schemas/Publication"
                          },
                          {
                            "$ref": "#/components/schemas/MpraQualityMetric"
                          },
                          {
                            "$ref": "#/components/schemas/PerturbSeqQualityMetric"
                          },
                          {
                            "$ref": "#/components/schemas/SingleCellAtacSeqQualityMetric"
                          },
                          {
                            "$ref": "#/components/schemas/SingleCellRnaSeqQualityMetric"
                          },
                          {
                            "$ref": "#/components/schemas/StarrSeqQualityMetric"
                          },
                          {
                            "$ref": "#/components/schemas/InVitroSystem"
                          },
                          {
                            "$ref": "#/components/schemas/MultiplexedSample"
                          },
                          {
                            "$ref": "#/components/schemas/PrimaryCell"
                          },
                          {
                            "$ref": "#/components/schemas/TechnicalSample"
                          },
                          {
                            "$ref": "#/components/schemas/Tissue"
                          },
                          {
                            "$ref": "#/components/schemas/WholeOrganism"
                          },
                          {
                            "$ref": "#/components/schemas/Software"
                          },
                          {
                            "$ref": "#/components/schemas/SoftwareVersion"
                          },
                          {
                            "$ref": "#/components/schemas/Source"
                          },
                          {
                            "$ref": "#/components/schemas/Treatment"
                          },
                          {
                            "$ref": "#/components/schemas/User"
                          },
                          {
                            "$ref": "#/components/schemas/Workflow"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "@type",
                          "mapping": {}
                        }
                      }
                    },
                    "@id": {
                      "type": "string"
                    },
                    "@type": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "SearchFacet",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string"
                          },
                          "terms": {
                            "description": "Usually array of objects but can also just be object."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Retrieve JSON schemas for all item types",
        "description": "Returns JSON schemas of all the item types defined in IGVF",
        "operationId": "schemas",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONSchema"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{item_type}": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Retrieve JSON schema for item type",
        "description": "Returns JSON schemas of all the item types defined in IGVF",
        "operationId": "schema_for_item_type",
        "parameters": [
          {
            "name": "item_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ItemType"
            },
            "description": "The name of the item type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONSchema"
                }
              }
            }
          }
        }
      }
    },
    "/multireport.tsv": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Generate a TSV file report based on search query. All results are returned.",
        "description": "Like /search endpoint but returns a TSV file instead of JSON. Must specify item type(s).",
        "operationId": "report",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by item type."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "example": 100
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Does not work with limit=all."
          },
          {
            "name": "field_filters",
            "in": "query",
            "schema": {
              "type": "object"
            },
            "description": "Any field from any item type can be used as a filter. Use '!' at end of field name for negation and 'lt:', 'lte:', 'gt:', 'gte:' with value for range queries on numeric fields. Examples: {'status!': 'in progress', 'file_size': 'gte:30000'}",
            "style": "form",
            "explode": true
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to include in the response. Can be repeated for multiple fields."
          },
          {
            "name": "frame",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "object",
                "embedded"
              ]
            },
            "description": "Object with links, or object with some links embedded."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                },
                "example": "Column1\tColumn2\tColumn3\nValue1\tValue2\tValue3"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/{file_id}/@@download": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "Download file.",
        "description": "Returns underlying file associated with file metadata",
        "operationId": "download",
        "parameters": [
          {
            "in": "path",
            "name": "file_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The unique identifier for the file to download, e.g. @id (/tabular-files/IGVFFI8092FZKL/), accession (IGVFFI8092FZKL), or UUID (fdbdc159-e5b9-40a8-b788-3f72c9886b03)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Item not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/batch-download": {
      "get": {
        "tags": [
          "IGVF"
        ],
        "summary": "List files to download based on search query. All results are returned.",
        "description": "Generates TSV of files contained in FileSets in search results.",
        "operationId": "batch_download",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "required": true,
            "description": "Type of objects to return. Can be repeated for multiple types."
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching."
          },
          {
            "name": "field_filters",
            "in": "query",
            "schema": {
              "type": "object"
            },
            "description": "Any field from any object type can be used as a filter. Use '!' for negation, '*' as a wildcard, and 'lt:', 'lte:', 'gt:', 'gte:' for range queries on numeric fields.",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                },
                "example": "@id\thref\nhref1\thref2"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/access-keys/@@listing": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List items in the AccessKey collection.",
        "description": "Collection endpoint that accepts various query parameters to filter and sort AccessKey items. Supports filtering on fields within AccessKey items.",
        "operationId": "access_keys",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching.",
            "example": "variant flowfish jurkat"
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "examples": {
              "number": {
                "value": 100
              },
              "all": {
                "value": "all"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all.",
            "examples": {
              "file_size": {
                "value": "-file_size"
              },
              "lab": {
                "value": "lab.title"
              }
            }
          },
          {
            "name": "@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by @id",
            "style": "form",
            "explode": true
          },
          {
            "name": "access_key_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Access Key ID",
                "description": "An access key."
              }
            },
            "description": "Filter by access_key_id",
            "style": "form",
            "explode": true
          },
          {
            "name": "aliases",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Aliases",
              "items": {
                "type": "string",
                "title": "Lab Alias",
                "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|raluca-gordan|bill-majoros|david-page|maya-kasowski|jimmie-ye|leif-ludwig|ryan-corces|jun-wu|tom-norman|bruce-posner|nhgri|community|igvf|igvf-dacc|stephen-yi|kushal-dey|katie-pollard|steven-gazal|igvf-dacc-processing-pipeline):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$",
                "description": "A lab specific identifier to reference an object."
              },
              "description": "Lab specific identifiers to reference an object."
            },
            "description": "Filter by aliases",
            "style": "form",
            "explode": true
          },
          {
            "name": "creation_timestamp",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Creation Timestamp",
                "description": "The date the object was created."
              }
            },
            "description": "Filter by creation_timestamp",
            "style": "form",
            "explode": true
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Description",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$|^$",
                "description": "Description of the access key."
              }
            },
            "description": "Filter by description",
            "style": "form",
            "explode": true
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Notes",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "DACC internal notes."
              }
            },
            "description": "Filter by notes",
            "style": "form",
            "explode": true
          },
          {
            "name": "secret_access_key_hash",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Secret Access Key Hash",
                "description": "A secret access key."
              }
            },
            "description": "Filter by secret_access_key_hash",
            "style": "form",
            "explode": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "enum": [
                  "current",
                  "deleted"
                ]
              }
            },
            "description": "Filter by status",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by submitted_by.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "description": "The full name of the user."
              }
            },
            "description": "Filter by submitted_by.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitter_comment",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Submitter Comment",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "Additional information specified by the submitter to be displayed as a comment on the portal."
              }
            },
            "description": "Filter by submitter_comment",
            "style": "form",
            "explode": true
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Summary",
                "description": "A summary of the object."
              }
            },
            "description": "Filter by summary",
            "style": "form",
            "explode": true
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "User",
                "description": "The user that is assigned to this access key."
              }
            },
            "description": "Filter by user",
            "style": "form",
            "explode": true
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "UUID",
                "description": "The unique identifier associated with every object."
              }
            },
            "description": "Filter by uuid",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "AccessKeyResults",
                  "properties": {
                    "@graph": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessKey"
                      }
                    },
                    "@id": {
                      "type": "string"
                    },
                    "@type": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "SearchFacet",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string"
                          },
                          "terms": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/analysis-steps/@@listing": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List items in the AnalysisStep collection.",
        "description": "Collection endpoint that accepts various query parameters to filter and sort AnalysisStep items. Supports filtering on fields within AnalysisStep items.",
        "operationId": "analysis_steps",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching.",
            "example": "variant flowfish jurkat"
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "examples": {
              "number": {
                "value": 100
              },
              "all": {
                "value": "all"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all.",
            "examples": {
              "file_size": {
                "value": "-file_size"
              },
              "lab": {
                "value": "lab.title"
              }
            }
          },
          {
            "name": "@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by @id",
            "style": "form",
            "explode": true
          },
          {
            "name": "aliases",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Aliases",
              "items": {
                "type": "string",
                "title": "Lab Alias",
                "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|raluca-gordan|bill-majoros|david-page|maya-kasowski|jimmie-ye|leif-ludwig|ryan-corces|jun-wu|tom-norman|bruce-posner|nhgri|community|igvf|igvf-dacc|stephen-yi|kushal-dey|katie-pollard|steven-gazal|igvf-dacc-processing-pipeline):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$",
                "description": "A lab specific identifier to reference an object."
              },
              "description": "Lab specific identifiers to reference an object."
            },
            "description": "Filter by aliases",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step_types",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Analysis Step Types",
              "items": {
                "type": "string",
                "title": "Type",
                "enum": [
                  "alignment",
                  "barcode correction",
                  "barcode counting",
                  "barcode mapping generation",
                  "base calling",
                  "cell to feature barcode mapping",
                  "computational model prediction",
                  "computational model training",
                  "counts normalization",
                  "custom genome assembly",
                  "demultiplexing",
                  "differential expression analysis",
                  "fastq concatenation",
                  "file format conversion",
                  "filtering",
                  "fragment generation",
                  "genome index generation",
                  "interaction calling",
                  "matrix generation",
                  "merging",
                  "peak calling",
                  "read trimming",
                  "quantification",
                  "signal generation",
                  "signal normalization",
                  "spatial feature detection",
                  "transcriptome index generation",
                  "UMI deduplication",
                  "UMI quantification",
                  "variant annotation"
                ]
              },
              "description": "The classification of the software."
            },
            "description": "Filter by analysis_step_types",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step_versions.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by analysis_step_versions.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step_versions.software_versions.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by analysis_step_versions.software_versions.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step_versions.software_versions.name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "description": "A unique identifier for a software version."
              }
            },
            "description": "Filter by analysis_step_versions.software_versions.name",
            "style": "form",
            "explode": true
          },
          {
            "name": "award.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by award.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "award.component",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Project Component",
                "description": "The project component the award is associated with."
              }
            },
            "description": "Filter by award.component",
            "style": "form",
            "explode": true
          },
          {
            "name": "creation_timestamp",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Creation Timestamp",
                "description": "The date the object was created."
              }
            },
            "description": "Filter by creation_timestamp",
            "style": "form",
            "explode": true
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Description",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "A plain text description of the object."
              }
            },
            "description": "Filter by description",
            "style": "form",
            "explode": true
          },
          {
            "name": "input_content_types",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Input Content Types",
              "items": {
                "type": "string",
                "title": "Input Content Type",
                "enum": [
                  "DNA footprint scores",
                  "MPRA sequence designs",
                  "Nanopore reads",
                  "PacBio subreads",
                  "SNP effect matrix",
                  "TF binding scores",
                  "alignments",
                  "barcode onlist",
                  "barcode replacement",
                  "barcode to TF overexpression mapping",
                  "barcode to element mapping",
                  "barcode to hashtag mapping",
                  "barcode to sample mapping",
                  "barcode to variant mapping",
                  "bin paired count",
                  "biological_context",
                  "cell hashing barcodes",
                  "coding variant effects",
                  "coding_variants",
                  "complexes",
                  "complexes_complexes",
                  "complexes_proteins",
                  "complexes_terms",
                  "contact matrix",
                  "control signal",
                  "detected tissue",
                  "differential chromatin contact quantifications",
                  "differential element quantifications",
                  "differential gene expression quantifications",
                  "differential peak quantifications",
                  "differential transcript expression quantifications",
                  "diseases_genes",
                  "documentation (readme)",
                  "drugs",
                  "edge weights",
                  "editing templates",
                  "element quantifications",
                  "element to gene predictions",
                  "elements reference",
                  "elements_genes",
                  "exclusion list",
                  "external source data",
                  "feature weights",
                  "fiducial alignment",
                  "filtered feature barcode matrix",
                  "fold change over control",
                  "fragments",
                  "gene quantifications",
                  "genes",
                  "genes_genes",
                  "genes_pathways",
                  "genes_terms",
                  "genes_transcripts",
                  "genome index",
                  "genome reference",
                  "genomic_elements",
                  "genomic_elements_genes",
                  "genomic_elements_genes_biosamples",
                  "genomic_elements_genes_biosamples_donors",
                  "genomic_elements_genes_biosamples_treatments_chebi",
                  "genomic_elements_genes_biosamples_treatments_proteins",
                  "genomic_elements_genomic_elements",
                  "go_terms_proteins",
                  "graph structure",
                  "guide RNA sequences",
                  "guide quantifications",
                  "high resolution tissue",
                  "inclusion list",
                  "index",
                  "kallisto single cell RNAseq output",
                  "loci",
                  "low resolution tissue",
                  "machine learning model features",
                  "methylated reads",
                  "model parameters",
                  "motifs",
                  "motifs_proteins",
                  "nascent transcriptome index",
                  "neural network architecture",
                  "ontology_terms",
                  "ontology_terms_ontology_terms",
                  "pathways",
                  "pathways_pathways",
                  "peak quantifications",
                  "peaks",
                  "position weight matrix",
                  "prime editing guide RNA sequences",
                  "primer sequences",
                  "primers table",
                  "primers track",
                  "protein language model",
                  "protein to protein interaction score",
                  "proteins",
                  "proteins_proteins",
                  "raw feature barcode matrix",
                  "raw signal",
                  "read-depth signal",
                  "reads",
                  "reporter elements",
                  "reporter experiment",
                  "reporter experiment barcode",
                  "reporter genomic element effects",
                  "reporter genomic variant effects",
                  "reporter variants",
                  "sample barcode count matrix",
                  "sample sort parameters",
                  "scale factors",
                  "seqspec",
                  "sequence attributes",
                  "signal",
                  "signal of all reads",
                  "signal of unique reads",
                  "signal p-value",
                  "sparse gene count matrix",
                  "sparse peak count matrix",
                  "sparse transcript count matrix",
                  "spike-ins",
                  "studies",
                  "studies_variants",
                  "studies_variants_phenotypes",
                  "target transcripts",
                  "tissue positions",
                  "transcript quantifications",
                  "transcriptome alignments",
                  "transcriptome annotations",
                  "transcriptome index",
                  "transcriptome reference",
                  "transcripts",
                  "transcripts_proteins",
                  "unfiltered global differential expression",
                  "unfiltered local differential expression",
                  "variant binding effects",
                  "variant effects",
                  "variant functional predictions",
                  "variant localization impacts",
                  "variant to element mapping",
                  "variants",
                  "variants_coding_variants",
                  "variants_diseases",
                  "variants_diseases_genes",
                  "variants_drugs",
                  "variants_drugs_genes",
                  "variants_genes",
                  "variants_genes_terms",
                  "variants_genomic_elements",
                  "variants_phenotypes",
                  "variants_phenotypes_studies",
                  "variants_proteins",
                  "variants_proteins_biosamples",
                  "variants_proteins_phenotypes",
                  "variants_proteins_terms",
                  "variants_variants",
                  "vector sequences"
                ],
                "description": "A content type used as input for the analysis step."
              },
              "description": "The content types used as input for the analysis step."
            },
            "description": "Filter by input_content_types",
            "style": "form",
            "explode": true
          },
          {
            "name": "lab.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by lab.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "lab.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title"
              }
            },
            "description": "Filter by lab.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "description": "Full name of the analysis step."
              }
            },
            "description": "Filter by name",
            "style": "form",
            "explode": true
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Notes",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "DACC internal notes."
              }
            },
            "description": "Filter by notes",
            "style": "form",
            "explode": true
          },
          {
            "name": "output_content_types",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Output Content Types",
              "items": {
                "type": "string",
                "title": "Output Content Type",
                "enum": [
                  "DNA footprint scores",
                  "MPRA sequence designs",
                  "Nanopore reads",
                  "PacBio subreads",
                  "SNP effect matrix",
                  "TF binding scores",
                  "alignments",
                  "barcode onlist",
                  "barcode replacement",
                  "barcode to TF overexpression mapping",
                  "barcode to element mapping",
                  "barcode to hashtag mapping",
                  "barcode to sample mapping",
                  "barcode to variant mapping",
                  "bin paired count",
                  "biological_context",
                  "cell hashing barcodes",
                  "coding variant effects",
                  "coding_variants",
                  "complexes",
                  "complexes_complexes",
                  "complexes_proteins",
                  "complexes_terms",
                  "contact matrix",
                  "control signal",
                  "detected tissue",
                  "differential chromatin contact quantifications",
                  "differential element quantifications",
                  "differential gene expression quantifications",
                  "differential peak quantifications",
                  "differential transcript expression quantifications",
                  "diseases_genes",
                  "documentation (readme)",
                  "drugs",
                  "edge weights",
                  "editing templates",
                  "element quantifications",
                  "element to gene predictions",
                  "elements reference",
                  "elements_genes",
                  "exclusion list",
                  "external source data",
                  "feature weights",
                  "fiducial alignment",
                  "filtered feature barcode matrix",
                  "fold change over control",
                  "fragments",
                  "gene quantifications",
                  "genes",
                  "genes_genes",
                  "genes_pathways",
                  "genes_terms",
                  "genes_transcripts",
                  "genome index",
                  "genome reference",
                  "genomic_elements",
                  "genomic_elements_genes",
                  "genomic_elements_genes_biosamples",
                  "genomic_elements_genes_biosamples_donors",
                  "genomic_elements_genes_biosamples_treatments_chebi",
                  "genomic_elements_genes_biosamples_treatments_proteins",
                  "genomic_elements_genomic_elements",
                  "go_terms_proteins",
                  "graph structure",
                  "guide RNA sequences",
                  "guide quantifications",
                  "high resolution tissue",
                  "inclusion list",
                  "index",
                  "kallisto single cell RNAseq output",
                  "loci",
                  "low resolution tissue",
                  "machine learning model features",
                  "methylated reads",
                  "model parameters",
                  "motifs",
                  "motifs_proteins",
                  "nascent transcriptome index",
                  "neural network architecture",
                  "ontology_terms",
                  "ontology_terms_ontology_terms",
                  "pathways",
                  "pathways_pathways",
                  "peak quantifications",
                  "peaks",
                  "position weight matrix",
                  "prime editing guide RNA sequences",
                  "primer sequences",
                  "primers table",
                  "primers track",
                  "protein language model",
                  "protein to protein interaction score",
                  "proteins",
                  "proteins_proteins",
                  "raw feature barcode matrix",
                  "raw signal",
                  "read-depth signal",
                  "reads",
                  "reporter elements",
                  "reporter experiment",
                  "reporter experiment barcode",
                  "reporter genomic element effects",
                  "reporter genomic variant effects",
                  "reporter variants",
                  "sample barcode count matrix",
                  "sample sort parameters",
                  "scale factors",
                  "seqspec",
                  "sequence attributes",
                  "signal",
                  "signal of all reads",
                  "signal of unique reads",
                  "signal p-value",
                  "sparse gene count matrix",
                  "sparse peak count matrix",
                  "sparse transcript count matrix",
                  "spike-ins",
                  "studies",
                  "studies_variants",
                  "studies_variants_phenotypes",
                  "target transcripts",
                  "tissue positions",
                  "transcript quantifications",
                  "transcriptome alignments",
                  "transcriptome annotations",
                  "transcriptome index",
                  "transcriptome reference",
                  "transcripts",
                  "transcripts_proteins",
                  "unfiltered global differential expression",
                  "unfiltered local differential expression",
                  "variant binding effects",
                  "variant effects",
                  "variant functional predictions",
                  "variant localization impacts",
                  "variant to element mapping",
                  "variants",
                  "variants_coding_variants",
                  "variants_diseases",
                  "variants_diseases_genes",
                  "variants_drugs",
                  "variants_drugs_genes",
                  "variants_genes",
                  "variants_genes_terms",
                  "variants_genomic_elements",
                  "variants_phenotypes",
                  "variants_phenotypes_studies",
                  "variants_proteins",
                  "variants_proteins_biosamples",
                  "variants_proteins_phenotypes",
                  "variants_proteins_terms",
                  "variants_variants",
                  "vector sequences"
                ],
                "description": "A content type produced as output by the analysis step."
              },
              "description": "The content types produced as output by the analysis step."
            },
            "description": "Filter by output_content_types",
            "style": "form",
            "explode": true
          },
          {
            "name": "parents.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by parents.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "parents.status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by parents.status",
            "style": "form",
            "explode": true
          },
          {
            "name": "parents.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "pattern": "^[a-zA-Z\\d_().,-]+(?:\\s[a-zA-Z\\d_().,-]+)*[step|Step]$",
                "description": "The preferred viewable name of the analysis step, likely the same as the step label."
              }
            },
            "description": "Filter by parents.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "release_timestamp",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Release Timestamp",
                "description": "The date the object was released."
              }
            },
            "description": "Filter by release_timestamp",
            "style": "form",
            "explode": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "enum": [
                  "archived",
                  "deleted",
                  "in progress",
                  "preview",
                  "released"
                ],
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by status",
            "style": "form",
            "explode": true
          },
          {
            "name": "step_label",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Step Label",
                "pattern": "^[a-z0-9-]+-step$",
                "description": "Unique lowercased label of the analysis step that includes the relevant assays, the software used, and the purpose of the step, e.g. rampage-grit-peak-calling-step"
              }
            },
            "description": "Filter by step_label",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by submitted_by.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "description": "The full name of the user."
              }
            },
            "description": "Filter by submitted_by.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitter_comment",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Submitter Comment",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "Additional information specified by the submitter to be displayed as a comment on the portal."
              }
            },
            "description": "Filter by submitter_comment",
            "style": "form",
            "explode": true
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Summary",
                "description": "A summary of the object."
              }
            },
            "description": "Filter by summary",
            "style": "form",
            "explode": true
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "pattern": "^[a-zA-Z\\d_().,-]+(?:\\s[a-zA-Z\\d_().,-]+)*[step|Step]$",
                "description": "The preferred viewable name of the analysis step, likely the same as the step label."
              }
            },
            "description": "Filter by title",
            "style": "form",
            "explode": true
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "UUID",
                "description": "The unique identifier associated with every object."
              }
            },
            "description": "Filter by uuid",
            "style": "form",
            "explode": true
          },
          {
            "name": "workflow.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by workflow.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "workflow.accession",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Accession",
                "description": "A unique identifier to be used to reference the object prefixed with IGVF."
              }
            },
            "description": "Filter by workflow.accession",
            "style": "form",
            "explode": true
          },
          {
            "name": "workflow.name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "The preferred viewable name of the workflow."
              }
            },
            "description": "Filter by workflow.name",
            "style": "form",
            "explode": true
          },
          {
            "name": "workflow.status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by workflow.status",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "AnalysisStepResults",
                  "properties": {
                    "@graph": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisStep"
                      }
                    },
                    "@id": {
                      "type": "string"
                    },
                    "@type": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "SearchFacet",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string"
                          },
                          "terms": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/analysis-step-versions/@@listing": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List items in the AnalysisStepVersion collection.",
        "description": "Collection endpoint that accepts various query parameters to filter and sort AnalysisStepVersion items. Supports filtering on fields within AnalysisStepVersion items.",
        "operationId": "analysis_step_versions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching.",
            "example": "variant flowfish jurkat"
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "examples": {
              "number": {
                "value": 100
              },
              "all": {
                "value": "all"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all.",
            "examples": {
              "file_size": {
                "value": "-file_size"
              },
              "lab": {
                "value": "lab.title"
              }
            }
          },
          {
            "name": "@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by @id",
            "style": "form",
            "explode": true
          },
          {
            "name": "aliases",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Aliases",
              "items": {
                "type": "string",
                "title": "Lab Alias",
                "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|raluca-gordan|bill-majoros|david-page|maya-kasowski|jimmie-ye|leif-ludwig|ryan-corces|jun-wu|tom-norman|bruce-posner|nhgri|community|igvf|igvf-dacc|stephen-yi|kushal-dey|katie-pollard|steven-gazal|igvf-dacc-processing-pipeline):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$",
                "description": "A lab specific identifier to reference an object."
              },
              "description": "Lab specific identifiers to reference an object."
            },
            "description": "Filter by aliases",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by analysis_step.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "description": "Full name of the analysis step."
              }
            },
            "description": "Filter by analysis_step.name",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by analysis_step.status",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "pattern": "^[a-zA-Z\\d_().,-]+(?:\\s[a-zA-Z\\d_().,-]+)*[step|Step]$",
                "description": "The preferred viewable name of the analysis step, likely the same as the step label."
              }
            },
            "description": "Filter by analysis_step.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.workflow.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by analysis_step.workflow.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.workflow.accession",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Accession",
                "description": "A unique identifier to be used to reference the object prefixed with IGVF."
              }
            },
            "description": "Filter by analysis_step.workflow.accession",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.workflow.name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "The preferred viewable name of the workflow."
              }
            },
            "description": "Filter by analysis_step.workflow.name",
            "style": "form",
            "explode": true
          },
          {
            "name": "analysis_step.workflow.status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by analysis_step.workflow.status",
            "style": "form",
            "explode": true
          },
          {
            "name": "award.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by award.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "award.component",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Project Component",
                "description": "The project component the award is associated with."
              }
            },
            "description": "Filter by award.component",
            "style": "form",
            "explode": true
          },
          {
            "name": "creation_timestamp",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Creation Timestamp",
                "description": "The date the object was created."
              }
            },
            "description": "Filter by creation_timestamp",
            "style": "form",
            "explode": true
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Description",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "A plain text description of the object."
              }
            },
            "description": "Filter by description",
            "style": "form",
            "explode": true
          },
          {
            "name": "lab.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by lab.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "lab.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title"
              }
            },
            "description": "Filter by lab.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Notes",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "DACC internal notes."
              }
            },
            "description": "Filter by notes",
            "style": "form",
            "explode": true
          },
          {
            "name": "release_timestamp",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Release Timestamp",
                "description": "The date the object was released."
              }
            },
            "description": "Filter by release_timestamp",
            "style": "form",
            "explode": true
          },
          {
            "name": "software_versions.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by software_versions.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "software_versions.name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Name",
                "description": "A unique identifier for a software version."
              }
            },
            "description": "Filter by software_versions.name",
            "style": "form",
            "explode": true
          },
          {
            "name": "software_versions.status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by software_versions.status",
            "style": "form",
            "explode": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Status",
                "enum": [
                  "archived",
                  "deleted",
                  "in progress",
                  "preview",
                  "released"
                ],
                "description": "The status of the metadata object."
              }
            },
            "description": "Filter by status",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by submitted_by.@id",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitted_by.title",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Title",
                "description": "The full name of the user."
              }
            },
            "description": "Filter by submitted_by.title",
            "style": "form",
            "explode": true
          },
          {
            "name": "submitter_comment",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Submitter Comment",
                "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$",
                "description": "Additional information specified by the submitter to be displayed as a comment on the portal."
              }
            },
            "description": "Filter by submitter_comment",
            "style": "form",
            "explode": true
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Summary",
                "description": "A summary of the object."
              }
            },
            "description": "Filter by summary",
            "style": "form",
            "explode": true
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "UUID",
                "description": "The unique identifier associated with every object."
              }
            },
            "description": "Filter by uuid",
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "AnalysisStepVersionResults",
                  "properties": {
                    "@graph": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisStepVersion"
                      }
                    },
                    "@id": {
                      "type": "string"
                    },
                    "@type": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "SearchFacet",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string"
                          },
                          "terms": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/awards/@@listing": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List items in the Award collection.",
        "description": "Collection endpoint that accepts various query parameters to filter and sort Award items. Supports filtering on fields within Award items.",
        "operationId": "awards",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching.",
            "example": "variant flowfish jurkat"
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value. Do not set."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Limit"
            },
            "description": "Maximum number of results to return. Default is 25. Use 'all' for all results.",
            "examples": {
              "number": {
                "value": 100
              },
              "all": {
                "value": "all"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all.",
            "examples": {
              "file_size": {
                "value": "-file_size"
              },
              "lab": {
                "value": "lab.title"
              }
            }
          },
          {
            "name": "@id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "ID"
              }
            },
            "description": "Filter by @id",
            "style": "form",
            "explode": true
          },
          {
            "name": "aliases",
            "in": "query",
            "schema": {
              "type": "array",
              "title": "Aliases",
              "items": {
                "type": "string",
                "title": "Lab Alias",
[...]
