```python
from igvf_client import IgvfApi

api = IgvfApi()

results = api.search(
    query='flowfish',
    type=['MeasurementSet'],
    limit=3
)

print(results.total)

print(results.graph[0])
```
```python
from igvf_client import IgvfApi

api = IgvfApi()

results = api.measurement_sets(query='flowfish')

print(results.total)

print(results.graph[0])
```

## Documentation for API Endpoints

All URIs are relative to *{{{basePath}}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}